body {
    height: 6000px;
}

.orange {
    background-color: orange;
    height: 1000px;
}

.zero {
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    left: 300px;
}

.container {
    background-color: #FFCC00;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.one {
    background-image: url('student-hub-outline.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 0;
}

.two {
    background-image: url('student-hub-color-1.png');
    background-position: -9px 20px;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    position: fixed;
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.three {
    background-image: url('student-hub-color-2.png');
    background-position: 268px 24px;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.four {
    background-image: url('student-hub-color-3.png');
    background-position: 627px 20px;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.five {
    height: 1000px;
}
